@model MvcPracownik.Models.Zawartosc

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Zawartosc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="sztuk" class="control-label"></label>
                <input asp-for="sztuk" class="form-control" />
                <span asp-validation-for="sztuk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idpudelka" class="control-label"></label>
                <input asp-for="idpudelka" class="form-control" />
                <span asp-validation-for="idpudelka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idczekoladki" class="control-label"></label>
                <input asp-for="idczekoladki" class="form-control" />
                <span asp-validation-for="idczekoladki" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
