@{
    ViewData["Title"] = "Ordered Chocolates";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <table>
        <tr>
            <th>Chocolate name</th>
            <th>Amount ordered</th>
        </tr>
        @foreach(NameCountObject c in ViewData["data"] as List<NameCountObject>) {
            <tr>
                <td>@c.Name</td>
                <td>@c.Count</td>
            </tr>
        }
    </table>
</div>